exportPattern("^[[:alpha:]]+")
import(jmvcore)
importFrom(jmvcore,.)
importFrom(jmvcore,matchSet)
importFrom(magrittr,"%>%")
importFrom(stats,aggregate.data.frame)
importFrom(stats,complete.cases)
importFrom(stats,integrate)
importFrom(stats,pnorm)
